<div class="card m-0">
    <div class="card-body">
        <div class="border p-3 rounded text-center">
            <h6 class="mb-0 text-uppercase">{{title}}</h6>
            <p class="my-4">{{description}}</p>
            <div class="d-flex align-items-center justify-content-center">
                <button class="btn btn-light" style="margin-right: 16px" (click)="closeModal(false)">Cancelar</button>
                <button class="btn btn-primary" (click)="closeModal(true)">
                   {{confirmButton}}
                </button>
            </div>
        </div>
    </div>
</div>
