<div class="rest">
    <div class="rest__header">
        <img [src]="business?.business.photoURL" alt="">
    </div>
    <div class="rest__body">
        <h3>{{business?.business.name}}</h3>
        <p>{{business?.business.description}}</p>
        <p>{{business?.business.addressBusiness}}</p>
        <div class="separator"></div>
    </div>
    <div class="res__products pb-5">

        <div class="title-section">
            <h3>Productos</h3>
            <button class="btn btn-primary" (click)="openDialogCreateProduct()"
                *ngIf="dataUser.rol == 'ADMIN' || dataUser.rol == 'BUSINESS' || dataUser.rol == 'SUPERUSER'">Agregar productos</button>
        </div>

        <div class="gridProducts">
            <div class="card" *ngFor="let item of products">
                <div class="card-image">
                    <img [src]="globalService.urlImage(item.photo)" alt="..." class="card-img">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p class="card-text">{{item.description}}</p>
                    <p class="card-text card-price">
                        {{ item.price | currency}}
                    </p>
                </div>
                <div class="card-footer" *ngIf="dataUser.rol == 'CLIENTE' || dataUser.rol == 'SUPERUSER'">
                    <button class="btn btn-primary btn-sm mx-auto d-block" (click)="addToCar(item)">
                        <i class='bx bx-plus'></i>
                        Agregar al carrito
                    </button>
                </div>
                <div class="backcard" *ngIf="dataUser.rol == 'ADMIN'">
                    <button type="button" class="btn btn-warning" (click)="openDialogCreateProduct(item._id)">
                        <i class='bx bx-pencil'></i>
                    </button>
                    <button type="button" class="btn btn-danger" (click)="deleteProduct(item._id)">
                        <i class='bx bx-x'></i>
                    </button>
                </div>
            </div>
        </div>

        <app-empty *ngIf="!loading && products.length < 1" icon="bx bx-sad"
            text="Aún no hay<br> productos creados"></app-empty>

        <app-loading *ngIf="loading"></app-loading>
    </div>
</div>