<div class="rest">
    <div class="rest__header">
        <img [src]="business?.photoURL" alt="">
    </div>
    <div class="rest__body">
        <h3>{{business?.name}}</h3>
        <p>{{business?.description}}</p>
        <p>{{business?.addressBusiness}}</p>
        <div class="separator"></div>
    </div>
    <div class="res__products pb-5">

        <div class="title-section">
            <h3>Productos</h3>
            <button class="btn btn-light" (click)="openDialogCreateProduct()"  *ngIf="dataUser.rol == 'ADMIN' || dataUser.rol == 'BUSINESS'" >Agregar productos</button>
        </div>

        <div class="gridProducts">
            <div class="card" *ngFor="let item of products">
                <div class="card-image">
                    <img [src]="globalService.urlImage(item.photo)" alt="..." class="card-img">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <p class="card-text">{{item.description}}</p>
                    <p class="card-text card-price">
                        {{ item.price | slice:0:2 }},{{ item.price | slice:2:4 }}$
                    </p>
                </div>
                <div class="card-footer" *ngIf="dataUser.rol == 'CLIENTE'">
                    <button class="btn btn-primary btn-sm mx-auto d-block" (click)="addToCar(item)">
                        <i class='bx bx-plus'></i>
                        Agregar al carrito
                    </button>
                </div>
            </div>
        </div>

        <app-empty *ngIf="!loading && products.length < 1" icon="bx bx-sad"
            text="Aún no hay<br> productos creados"></app-empty>

        <app-loading *ngIf="loading"></app-loading>
    </div>
</div>