<!--end row-->
<h6 class="mb-0 text-uppercase d-flex align-items-center justify-content-between">
	Negocios asociados
	<button class="btn btn-primary" (click)="openDialogAddBusiness()" *ngIf="dataUser.rol == 'ADMIN'">Agregar</button>
</h6>
<hr />
<div class="gridCards">
	<div class="" *ngFor="let item of business">
		<div class="card">
			<img [src]="item.business.photoURL" alt="..." class="card-img">
			<div class="card-body">
				<h5 class="card-title">{{item.business.name}}</h5>
				<p class="card-text">{{item.business.description}}</p>
			</div>
			<div class="card-footer">
				<button class="btn btn-light" (click)="goToProducts(item._id)">
					Ver Productos
				</button>
				<!-- <button class="btn btn-light" (click)="addToProduct(item)" *ngIf="dataUser.rol == 'CLIENT'">
					Añadir producto
				</button> -->
			</div>
			<div class="backcard" *ngIf="dataUser.rol == 'ADMIN'">
				<button type="button" class="btn btn-warning" (click)="openDialogAddBusiness(item._id)">
					<i class='bx bx-pencil'></i>
				</button>
				<button type="button" class="btn btn-danger" (click)="deleteBusinessById(item._id)">
					<i class='bx bx-x'></i>
				</button>
			</div>
		</div>
	</div>
</div>
<div class="card">
	<app-empty
		*ngIf="business.length < 1"
		icon="bx bxs-store"
		text="No hay negocios registrados<br> por el momento"
	></app-empty>
</div>

<app-loading *ngIf="loading"></app-loading>