<!--end row-->
<h6 class="mb-0 text-uppercase">Horizontal Card</h6>
<hr/>
<div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2">
	<div class="col">
		<div class="card">
			<div class="row g-0">
				<div class="col-md-4">
					<img src="assets/images/gallery/10.png" alt="..." class="card-img">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">TBT Restaurant</h5>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						<p class="card-text"><small class="">Last updated 3 mins ago</small>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<div class="row g-0">
				<div class="col-md-4">
					<img src="assets/images/gallery/11.png" alt="..." class="card-img">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">Garza morena</h5>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						<p class="card-text"><small class="">Last updated 3 mins ago</small>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="col">
		<div class="card">
			<div class="row g-0">
				<div class="col-md-4">
					<img src="assets/images/gallery/10.png" alt="..." class="card-img">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">TBT Restaurant</h5>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						<p class="card-text"><small class="">Last updated 3 mins ago</small>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<div class="row g-0">
				<div class="col-md-4">
					<img src="assets/images/gallery/11.png" alt="..." class="card-img">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">Garza morena</h5>
						<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
						<p class="card-text"><small class="">Last updated 3 mins ago</small>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>