.card {
    cursor: pointer;
    i {
        padding: 10px;
        height: 51px;
        width: 51px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 28px;
        margin: 0 !important;
        transition: background 0.2s ease-in-out;
    }
    &.card-active {
        i {
            background: #135401;
        }
    }

    &.card-inactive {
        i {
            background: #a40101;
        }
    }
}

.infoUser {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    .card-img {
        width: 64px;
        height: 64px;
        object-fit: cover;
        border-radius: 50%;
    }
    &__body {
        display: flex;
        flex-direction: column;
        margin-left: 1.5rem;
        h5,p{
            margin: 0;
        }
    }
}

#map { 
    width: 100%;
    height: 100%;
}

.buttons{ 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}