<div class="col-12">
    <div class="card cardDetail mb-0" *ngIf="deliveryInfo">
        <div class="row">
            <div class="col-6">
                <div id="map"></div>
            </div>
            <div class="col-6">
                <div class="infoUser">
                    <img [src]="deliveryInfo.pilot ? deliveryInfo.pilot.photoURL : 'https://placehold.it/100x100'" alt="..." class="card-img">
                    <div class="infoUser__body" >
                        <small>Piloto</small>
                        <h5>{{ deliveryInfo.pilot ? deliveryInfo.pilot.name : 'Por asignar'}}</h5>
                        <p *ngIf="deliveryInfo.pilot">{{deliveryInfo.pilot.phone}}</p>
                    </div>
                </div>
                <hr>
                <div class="row mt-4">
                    <div class="col-4">
                        <div class="form-group">
                            <h6 class="mb-0">Titulo</h6>
                            <p>{{deliveryInfo.title}}</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <h6 class="mb-0">Distance</h6>
                            <p>{{deliveryInfo.distance}} km</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <h6 class="mb-0">Fecha</h6>
                            <p>{{deliveryInfo.createdAt | date: 'dd/MM/YYYY'}}</p>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <h6 class="mb-0">Descripción</h6>
                            <p>{{deliveryInfo.description}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="col-12">
                        <div class="buttons">
                            <button class="btn btn-light" (click)="closeModal()">Cerrar</button>
                           <!--  <button class="ms-3 btn btn-primary" (click)="confirmToSuccess()" [disabled]="loadingInfoConfirm">
                                <span *ngIf="loadingInfoConfirm" class="spinner-border spinner-border-sm" role="status"
                                    aria-hidden="true"></span>
                                Realizado
                            </button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card cardDetail" *ngIf="!deliveryInfo">
        <div class="row">
            <div class="col-6">
                empty
            </div>
        </div>
    </div>
</div>