.text-price{ 
    text-align: end;
    margin: 0;
    max-width: max-content;
    margin-left: auto;
    padding: 8px 22px;
    border: 1px solid #ececec;
    border-radius: 4px;
    font-size: 22px;
}

#map { 
    height: 400px;
    width: 100%;
}